<h1>Formularios Básicos</h1>
 
<form [formGroup]="signupForm"  (ngsubmit)="enviar(signupForm.value)">
    <label>Nombre: </label>
    <input formControlName="nombre" type="text"><br>
    <label>Usuario: </label>
    <input formControlName= "usuario" type="text"><br>
    <label>Email: </label>
    <input formControlName= "email" type="email"><br>
    <div *ngIf="signupForm.get('email').hasError('required') && signupForm.get('email').touched">Es requerido el email</div>
    <label>Contrasenia </label>
    <input formControlName= "clave" type="password"><br>
    <button [disabled]="signupForm.invalid" type="submit">Resistrarse</button>
</form>